.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://mediaproxy.salon.com/width/1200/https://media.salon.com/2021/08/global-warming-ocean-rising-0805211.jpg");
  background-size: "cover";
  background-repeat: repeat;
  padding: 25px 25px 50px 25px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box {
  text-align: left;
  border: #63666a ridge 1px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  background-color: whitesmoke;
  padding: 25px 25px 25px 25px;
}

.search {
  width: 70%;
}

ul li {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.photo {
  height: 300px;
  width: 300px;
  /* how do I ensure the image is flexible as well? */
  display: flex;
}

.travelreviews {
  padding: 10px 25px 0px 0px;
  margin: 15px;
}

#sortdropdown {
  text-align: right;
  padding-right: 25px;
}

#search {
  padding-left: 30px;
  padding-right: 0px;
}

#firstrow {
  padding-bottom: 10px;
}

#addreview {
  padding: 10px 25px 5px 15px;
}

#firstrowaddreview {
  padding-bottom: 15px;
}

#city {
  width: 160px;
}

#country {
  width: 160px;
}

#traveldate {
  width: 160px;
  text-align: right;
  padding-right: 20px;
}

#addsafetyrating {
  padding-bottom: 10px;
}

#addaffordrating {
  padding-bottom: 10px;
}

#addaccessrating {
  padding-bottom: 15px;
}

#addphotos {
  padding-bottom: 15px;
}

#photos {
  width: 373px;
}

#addusername {
  padding-bottom: 15px;
}

#username {
  width: 350px;
}

#addnotes {
  padding-bottom: 15px;
}

#optional {
  height: 100px;
  width: 800px;
}

#userbox {
  height: 300px;
}

#backlink {
  text-align: right;
  padding-right: 10px;
}
