/* Template code from Jim's ReactRouter Demo, thank you! */

nav {
  border: 1px solid #ccc;
}

nav a {
  padding: 10px;
}

/* 'active' class automatically added by React Router */
nav a.active {
  background-color: #ccc;
}
